.main-container{
    height:100vh;
    background-color: #F1F5F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-card{
    height:auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width:50%;
}
.heading{
    margin:0px;
    color:#0F172A;
}
.description{
    margin:0px;
    color:#526985;
}
.inputelements{
    display: flex;
    gap:10px;
    margin:10px;
    
}
.btn{
    background-color: #2563EB;
    width:65px;
    height:25px;
    border:none;
    color:white;
    border-radius:5px;
    
}
.task{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
}
